<header class="header">
  {{> oss-banner}}
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{url}}">
        <img class="header-logo" src="{{uiRootPath}}/img/{{theme}}/{{theme}}-reverse.svg">
      </a>
      <a href="{{site-id-url}}" id="site-id" class="site-id">Documentation</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Lightbend</a>
          <div class="navbar-dropdown">
              <a class="navbar-item" href="https://www.lightbend.com/about-lightbend">Who Is Lightbend?</a>
              <a class="navbar-item" href="https://www.lightbend.com/customers">Who Uses Lightbend?</a>
              <a class="navbar-item" href="https://www.lightbend.com/company/news">News & Press</a>
              <a class="navbar-item" href="https://www.lightbend.com/contact">Get In Contact</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
