<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{url}}">
        <img class="header-logo" src="{{uiRootPath}}/img/{{theme}}/{{theme}}-reverse.svg">
      </a>
      <a href="{{site-id-url}}" id="site-id" class="site-id">Documentation</a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{> header-lightbend}}
      </div>
    </div>
  </nav>
</header>
